**/.openrc.sh
**/.env
**/.envrc
**/.tfvars
**/.tfvars.json
**/.terraform*
**/*.tfstate.
**/*.tfstate.*
**/terraform.tfvars
**/terraform.tfvars.json
**/terraform.tfvars.auto
**/terraform.rc
**/terraform.rc.json
**/terraform.rc.auto
**/terraform.tfstate
**/terraform.tfstate.backup
**/.md.swp
**./*.log


